# IntelliJ
.idea/
*.iml
*.iws

# Gradle & Java
.gradle/
build/
out/
*.class
gradle.properties

# AWS SAM
.aws-sam/
samconfig.toml

# OS
.DS_Store
Thumbs.db

# Local Development Specific
sam_backend.log
local-env.json
event.json